<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects01">
  <div class="images-right">
    <img alt="ymdmainimg" src="{{ "/assets/img/ymdmain.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 유학생을 만나다 </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>외국인 유학생을 대상으로 한 교류 웹사이트 제작</p>
    <a class="project-link" href="https://github.com/cha7713/projectYouManDa">go to github</a>
  </div>
</div>

<div class="user-projects02">
  <div class="images-left">
    <img alt="slumainimg" src="{{ "/assets/img/ymdmain.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 유만다 </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> 첫 프로젝트로서, 조원들의 해외 거주 경험에 의한 의견을 도입. 외국인 유학생을 대상으로 한 교류 웹사이트 제작시도</p>
    <a class="project-link" href="https://github.com/cha7713/projectYouManDa">go to github</a>
  </div>
</div>

<div class="user-projects03">
  <div class="images-left">
    <img alt="slumainimg" src="{{ "/assets/img/slumain.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SomeoneLikeU </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p> 좋아하면 울리는 이라는 드라마를 모티브로 한 사용자 위치기반 어플리케리션. 안드로이드 - 서버간의 통신을 통해 내가 좋아하거나 나를 좋아하는 사람이 일정 범위 안에 있는지 확인 할 수 있다. 또한, 블록체인을 결합해 내가 한번 좋아요를 한 사람을 영구적으로 기록되도록 개발하였다.</p>
    <a class="project-link" href="https://github.com/Jeredk/manittoSpring">go to git(spring)</a><a class="project-link" href="https://github.com/cha7713/manittoAndroid">go to git(android)</a>
  </div>
</div>
