<div class="user-details">
  <h1> Featured Projects </h1>
</div>


<div class="user-projects01">
  <div class="images-left">
    <img alt="ymdmainimg" src="{{ "/assets/img/ymdmain.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 유학생을 만나다 </h3>
    <ul>
      <li> Used : Java, JSP, SpringFramework, MySQL, HTML, Bootstrap</li>
    </ul>
    <p> Part : 게시판 서비스 구현 및 회원정보 마이페이지 관리</p>
    <p> 해외거주경험을 바탕으로 같은 국적을 가진 사람들과의 교류하기 위한 사이트가 필요하다고 생각되었습다. 이를 바탕으로 국내에 체류중인 외국인 유학생을 위해 언어권으로 분류한 교류 웹사이트 제작을 하였습니다.</p>    
    <a class="project-link" href="https://github.com/cha7713/projectYouManDa">go to github</a>
  </div>
</div>
<br><hr><br>
<div class="user-projects02">
  <div class="images-left">
    <img alt="slumainimg" src="{{ "/assets/img/slumain.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SomeoneLikeU </h3>
    <ul>
      <li> Used : Java, solidity, SpringFramework, Android, NodeJs, MySql</li>
    </ul>
    <p> Part : 카카오 API 로그인, 회원정보, 상태 관리. 어플리케이션 UI, 친구 리스트 및 힌트 확인, RestFul API</>
    <p> '좋아하면 울리는' 이라는 드라마를 모티브로 하여 사용자 위치기반 어플리케리션입니다. 안드로이드 - 서버간의 실시간 통신을 통해 내가 좋아하거나 나를 좋아하는 사람이 일정 범위 안에 있는지 확인/좋아요/차단/메세지보내기 를 할 수 있습니다. 또한, 블록체인을 결합해 내가 한번 좋아요를 한 사람을 영구적으로 기록되도록 개발하였습니다.</p>
    <a class="project-link" href="https://github.com/Jeredk/manittoSpring">go to git(spring)</a><a class="project-link" href="https://github.com/cha7713/manittoAndroid">go to git(android)</a><a class="project-link" href="https://github.com/Jeredk/manittoblockchain">go to git(BC)</a>
  </div>
</div>
